.tab-header-background{
	-fx-background-color: #06344f;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:bottom 
{
-fx-background-color: #06344f;
}

.tab .tab-label 
{
-fx-background-color: transparent;    
-fx-alignment: CENTER;
}

.tab-content-area 
{
-fx-background-color: #f3f3f3;
}

.tab:selected:bottom
{
-fx-border-width: 4 0 0 0;
-fx-border-color: #f99133;
}

.combo-box .list-cell:filled:selected {
	-fx-text-fill:		#000000;
	-fx-font-size:		24;
	-fx-font-family:	Lato;
}

.text-field{
	-fx-border-color: #34a1ad
}

.choice-box .label .text{
	-fx-font-size:		24;
	-fx-font-family:	Lato;
}

/*.choice-box .context-menu { -fx-background-color:  #064266; }
.choice-box .menu-item:focused { -fx-background-color: #064266; }
.choice-box .menu-item > .label { -fx-text-fill: #064266; }
.choice-box .menu-item:focused > .label { -fx-text-fill: #064266; }*/

.spinner .text-field:readonly {
	-fx-font-size:		24;
	-fx-font-family:	Lato;
}

.spinner .text-field {
	-fx-font-size:		24;
	-fx-font-family:	Lato;
	-fx-font-weight:	Bold;
}

.chart .chart-title .text {
    -fx-fill: #06344f;
    -fx-font-size: 32;
    -fx-font-family: Lato;
}

.axis:bottom .axis-label {
    -fx-text-fill: #06344f;
    -fx-font-size: 24;
    -fx-font-family: Lato;
}

.axis:bottom {
    -fx-tick-label-fill: #06344f;
    -fx-tick-label-font-size: 24;
    -fx-font-family: Lato;
}

.axis:left .axis-label {
    -fx-text-fill: #06344f;
    -fx-font-size: 24;
    -fx-font-family: Lato;
}

.axis:left {
    -fx-tick-label-fill: #06344f;
    -fx-tick-label-font-size: 24;
    -fx-font-family: Lato;
}

.default-color0.chart-bar { -fx-bar-fill: #f39c12; }
.default-color1.chart-bar { -fx-bar-fill: #85c1e9; }